<% include partials/header %>

<h1>Landing Page</h1>

<p>Welcome to YelpCamp</p>

<div><a href="/campgrounds">View All Campgrounds</a></div>

<div><a href="/campgrounds/new">Create a new campground</a></div>

<% include partials/footer %>